/**
 * Fonts
*/

h1, h2, h3, h4, h5, h6, p, ul, ol {
  color: $grey1;

  & + p {
    margin-top: $marginSmall;

    @include bp($screenSmall) {
      margin-top: $marginMedium;
    }
    @include bp($screenMedium) {
      margin-top: $marginLarge;
    }
  }
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

a {

}

ul,
ol {

}

.font {
    &--strong {
      font-weight: bold;
    }

    &--italic {
      font-style: italic;
    }
}
